# Redes Neuronales Recurrentes

In [1]:
# librerias a utilizar en el notebook
import numpy as np
import pandas as pd

In [2]:
# cargamos el dataset csv
df = pd.read_csv('warsaw.csv')
df

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,SNWD,TAVG,TMAX,TMIN
0,PLM00012375,"OKECIE, PL",52.166,20.967,110.3,1993-01-01,0.0,10.0,-8.3,NaN,NaN
1,PLM00012375,"OKECIE, PL",52.166,20.967,110.3,1993-01-02,NaN,10.0,-14.9,NaN,NaN
2,PLM00012375,"OKECIE, PL",52.166,20.967,110.3,1993-01-03,0.0,10.0,-13.6,-9.7,NaN
3,PLM00012375,"OKECIE, PL",52.166,20.967,110.3,1993-01-04,0.0,10.0,-10.5,-6.5,-13.3
4,PLM00012375,"OKECIE, PL",52.166,20.967,110.3,1993-01-05,0.0,10.0,-12.0,-8.9,-14.1
...,...,...,...,...,...,...,...,...,...,...,...
10949,PLM00012375,"OKECIE, PL",52.166,20.967,110.3,2022-12-27,8.4,NaN,4.7,9.4,2.7
10950,PLM00012375,"OKECIE, PL",52.166,20.967,110.3,2022-12-28,0.0,NaN,3.3,NaN,NaN
10951,PLM00012375,"OKECIE, PL",52.166,20.967,110.3,2022-12-29,0.5,NaN,6.8,NaN,3.7
10952,PLM00012375,"OKECIE, PL",52.166,20.967,110.3,2022-12-30,0.0,NaN,6.1,9.2,NaN
10953,PLM00012375,"OKECIE, PL",52.166,20.967,110.3,2022-12-31,NaN,NaN,9.4,NaN,0.3

In [4]:
# agarramos la col TAVG y la convertimos en un array
data = df['TAVG'].values
data.shape

(10954,)

In [ ]:
# creamos el dataset de entrenamiento y de test
from torch.utils.data import Dataset, DataLoader

class dataset(Dataset):
    def __init__(self, data, seq_len):
        self.data = data
        self.seq_len = seq_len
        
    def __len__(self):
        return len(self.data) - self.seq_len
    
    def __getitem__(self, idx):
        return self.data[idx:idx+self.seq_len], self.data[idx+self.seq_len]